<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/title}"></head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-9">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/players}">Игроки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/teams}">Команды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/schedule}">Расписание</a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Выход</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="col-3">
                <label>Название команды</label>
            </div>
            <div class="col-9">
                <form method="post">
                    <div>
                        <input class="form-control" type="text" id="name" name="name">
                    </div>

                    <button type="submit" class=" btn btn-outline-primary">Добавить</button>
                </form>
            </div>
        </div>

    </div>


    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

<div th:replace="~{fragments/scripts}"></div>
</body>
</html>