<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/title}"></head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-9">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/players}">Игроки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/teams}">Команды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/schedule}">Расписание</a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Выход</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-5">
        <a th:href="@{/admin/newteam}">
            <button type="button" class="btn btn-outline-primary">Добавить команду</button>
        </a>
    </div>
    <div class="row mt-2" th:each="team : ${teams}">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <h5 th:text="${team.name}"></h5>
                            <img th:src="@{/sample-image.jpg}" class="card-img-top" alt="Изображение команды"
                                 style="width: 300px">
                        </div>
                        <div class="col-8">
                            <div th:each="player : ${team.players}">
                                <h5 class="mt-2" th:text="${player.name}"></h5>
                                <p class="card-text">
                                    <small class="text-muted" th:text="'возраст: ' + ${player.age}
                                                                   + ', пол: ' + ${player.gender}
                                                                   + ', рост: ' + ${player.height}
                                                                   + ', вес: ' + ${player.weight}">--

                                    </small>
                                </p>
                                <p class="card-text" th:text="${player.info}"></p>
                            </div>
                            <a th:href="@{/admin/teams/adplayer/{teamid}(teamid = ${team.id})}">
                                <button type="button" class="btn btn-outline-primary">Добавить игрока</button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

<div th:replace="~{fragments/scripts}"></div>
</body>
</html>