<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/title}"></head>
<body>
<div class="container">
    <div th:replace="~{fragments/header :: menu}"></div>

    <div class="row mt-5">
        <div class="col-12 mt-5">
            <form th:action="@{/profile}" method="post">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-12 text-right">
                            <label for="name" class="from-label">Фамилия Имя Очество</label>
                            <input class="form-control" type="text" id="name" name="name" th:value="${player.name}">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-12 text-right">
                            <label for="age" class="from-label">Возраст</label>
                            <input class="form-control" type="text" id="age" name="age" th:value="${player.age}">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-12 text-right">
                            <label for="gender" class="from-label">Пол</label>
                            <input class="form-control" type="text" id="gender" name="gender" th:value="${player.gender}">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-12 text-right">
                            <label for="height" class="from-label">Рост</label>
                            <input class="form-control" type="text" id="height" name="height" th:value="${player.height}">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-12 text-right">
                            <label for="weight" class="from-label">Вес</label>
                            <input class="form-control" type="text" id="weight" name="weight" th:value="${player.weight}">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-12 text-right">
                            <label for="info" class="from-label">Дополнительная информация</label>
                            <textarea class="form-control" type="text" id="info" name="info" th:text="${player.info}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="mt-3 col-12">
                    <button type="submit" class="btn btn-primary">Отправиль заявку</button>
                </div>

            </form>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

<div th:replace="~{fragments/scripts}"></div>
</body>
</html>