<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/title}"></head>
<body>
<div class="container">
    <div th:replace="~{fragments/header :: menu}"></div>
  <div class="row mt-2" th:each = "schedule : ${schedules}" >
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title justify-content-center text-center" th:text="${#dates.format(schedule.date, 'dd.MM.yyyy HH:mm')}"></h5>
          <p class="card-text justify-content-center text-center">
            <span class="h2" th:text="${schedule?.teamFirst?.name?: 'TBA'}"></span>
            <span class="h3 ms-5 me-5">VS</span>
            <span class="h2" th:text="${schedule?.teamSecond?.name?: 'TBA'}"></span>
          </p>
        </div>
      </div>
    </div>
  </div>



    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

<div th:replace="~{fragments/scripts}"></div>
</body>
</html>